.App {
    text-align: center;
}

p {
    padding: 0 10px;
}

h1{
    font-size: calc(24px + 3vw);
}
h2{
    font-size: calc(16px + 1vw);
}
.Grey {
    background-color: #e5e5e5;
    padding: 65px 0;
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

.Btn {
    background-color: #282c34;
    color: white;
    padding: 14px 25px;
    margin: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 5px 1px darkgrey;
}

.Btn:hover {
    background-color: #171b23;
}

.Project-image {
    max-width: 25%;
    height: auto;
    box-shadow: 0 2px 5px 1px darkgrey;
}

.Project-logo {
    width: auto;
    height: 5vmin;
    margin: 10px;
}

.Logos {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-links img {
    width: 6vmin;
    height: auto;
    padding: 10px;
}

.App-links {
    width: 100%;
    background-color: #282c34;
    color: #61dafb;
}

.Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1, h2, h3, h4, a, img {
    margin: 5px;
}

h3, h4, a, img, p {
    color: #282c34;
}

h3 {
    color: #337ab7;
}

@media only screen and (max-width: 600px) {
    .Project-image {
        max-width: 75%;
    }
}
