.App {
  text-align: center;
    font-size: 1vw;
}
h1 {
    font-size: 5vw;
}
h2{
    font-size: 2.5vw;
}
h3{
    font-size: 2vw;
}
h4{
    font-size: 1.2vw;
}
.Projects img{
    max-width: 30%;
    height: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Projects{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}